<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" th:src="@{webjars/jquery/3.5.1/jquery.js}"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.0.0/js/bootstrap.js}"></script>
<link rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0/css/bootstrap.css}">
<body>
<div class="container-fluid" style="background: #ffc12a;">

    <div class="row">
        <div class="col-md-12" style="background: royalblue;height: 100px"></div>
    </div>
    <div class="row">
        <div class="col-md-2" style="background: #1a1e7f;height:600px"></div>
        <div class="col-md-10" style="background: #bd207e;height: 600px"></div>
    </div>

</div>

</div>
</body>
</html>
